
@import './_footer.css';
@import './_navbar.css';
@import './_header.css';
@import './_section.css';

/* #F1F1F2 */
/* #BCBABE */
/* #A1D6E2 */
/* #1995AD */

/* #1E1F26 */
/* #283655 */
/* #4D648D */
/* #D0E1F9 */
/* ---- Base Rules ---- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Teko', sans-serif;
}

html,
body {
  width: 100%;
  background: linear-gradient(0deg, #283655 0%, #4D648D 50%, #D0E1F9 100%);
}


main {
  padding-top: 50px;
}


h1, h2, p {
  font-family: 'Tourney', cursive;
}

/* ---- Layout Rules ---- */


/* section {
  position: relative;
  min-height: 80vh;
} */


/* ---- Module Rules ---- */

/* Navigation Styles*/
/* .navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
}

.navbar__menu li {
  display: inline-block;
}

.navbar__menu .menu__link {
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.navbar__menu .menu__link:hover {
  background: #333;
  color: #fff;
  transition: ease 0.3s all;
} */





/* ---- Theme Rules ---- */
/* Landing Container Styles */
/* .landing__container {
  padding: 1em;
  text-align: left;
} */

/* @media only screen and (min-width: 35em){
  .landing__container {
      max-width: 50em;
      padding: 4em;
  }
} */
/* 
section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right; 
} */

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
/* section:nth-of-type(odd) .landing__container::before {
  content: '';
  background: rgba(255, 255, 255, 0.187);
  position: absolute;
  z-index: -5;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
  content: '';
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
} */

/* section:nth-of-type(3n) .landing__container::after {
  content: '';
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
  content: '';
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
  position: absolute;
  right: 20vw;
  bottom: -5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
} */



/* Section Active Styles Keyframe Animations */
/* @keyframes rotate {
from {
  transform: rotate(0deg)
             translate(-1em)
             rotate(0deg);
}
to {
  transform: rotate(360deg)
             translate(-1em) 
             rotate(-360deg);
}
} */
