@import './navbar.css';
@import './section.css';
@import './footer.css';
@import './scroll_top.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Teko', sans-serif;
}

html,
body {
  width: 100%;
  background: linear-gradient(0deg, #283655 0%, #4D648D 50%, #D0E1F9 100%);
}


main {
  position: relative;
  padding-top: 50px;
}


h1, h2, p {
  font-family: 'Tourney', cursive;
  font-weight: 300;
}
