.navbar__menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 60px;
  width: 100%;
  background: #1E1F26;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__title {
  font-size: 38px;
  display: block;
}

.navbar__title:before {
  content: '';
  float: left;
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../images/page_icon.svg');
  margin-right: 10px;
}


.nav__link {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
  transition: .2s;
}

.nav__link:not(:first-child) {
  margin-left: 15px;
}

.nav__link:hover {
  color: #7da3e4;
}

.nav__link:active {
  color: #4D648D;
}

.active-nav {
  color: #7da3e4;
}

.mobile__navbar__button {
  position: relative;
  display: none;
  height: 100%;
  width: 20px;
  margin: 3px 5px 3px 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mobile__navbar__button span {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 20px;
  background: white;
  transition: 0.1s linear;
}

.mobile__navbar__button span::before, .mobile__navbar__button span::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  transform-origin: center;
  transition: width .1s, height .1s, transform 0.3s;
}

.mobile__navbar__button span::before {
  transform: translateY(-15px);
}

.mobile__navbar__button span::after {
  transform: translateY(15px);
}

.active__menu span {
  width: 0;
  height: 0;
}

.active__menu span::before, .active__menu span::after {
  width: 25px;
  height: 3px;
}

.active__menu span::before {
  transform: translate(-12.5px, 0) rotate(45deg);
}

.active__menu span::after {
  transform: translate(-12.5px, 0) rotate(-45deg);
}


@media (min-width: 1920px) {
  .navbar__menu {
    height: 6vw;
    padding: 1vw 2vw;
  }
  
  .navbar__title {
    font-size: 3.8vw;
  }
  
  .navbar__title:before {
    height: 4vw;
    width: 4vw;
    margin-right: 1vw;
  }
  
  .nav__link {
    font-size: 3vw;
  }

  .nav__link:not(:first-child) {
    margin-left: 1.5vw;
  }
}


@media (max-width: 768px) {

  .mobile__navbar__button {
    display: flex;
  }

  #navbar__list {
    position: absolute;
    top: 60px;
    right: -180px;
    width: 180px;
    height: 100vh;
    padding: 20px 20px;
    background: #1E1F26;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
  }

  .nav__link {
    font-size: 32px;
  }

  .nav__link:not(:first-child) {
    margin-left: 0;
    margin-top: 20px;
  }
}
