.section__container {
  position: relative;
  height: 100vh;
  min-height: 400px;
  padding: 9vw 3vw 5vw 3vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  position: relative;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-bottom: 3px solid white;
}

#section1 h1 {
  font-size: 6.5vw;
  align-self: center;
  text-align: center;
  width: 50vw;
}

#section1 p {
  font-family: 'Tourney', cursive;
  font-size: 3.5vw;
  text-align: center;
}

#section1 .section__container {
  padding: 12vw 3vw 5vw 3vw;
}

h2 {
  font-size: 5.5vw;
}

p {
  font-size: 3vw;
}

#section2 p {
  text-align: right;
  align-self: flex-end;
}


#section4 p {
  align-self: flex-start;
}

#section2 p, #section4 p {
  width: 50vw;
}


@media (max-width: 768px) {
  p {
    font-size: 22px;
  }

  h2 {
    font-size: 30px;
  }

  .section__container {
    padding: 80px 10px 50px 10px;
  }
  

  section {
    border-bottom-width: 2px;
  }
  
  #section1 .section__container {
    padding: 80px 25px 50px 25px;
  }

  #section1 h1 {
    font-size: 35px;
  }

  #section1 p {
   font-size: 20px;
   text-align: center;
  }

  #section2 p, #section4 p,  #section3 p {
    width: 70vw;
  }

  #section3 p {
    text-align: left;
  }

  #section4 {
    background-position: 20% 50%;
  }

  #section4 p {
    text-align: right;
    align-self: flex-end;
  }
    
}
